name: Build Wheels and Test

on:
    workflow_dispatch:
    push:
        tags:
            - "v*" # Only trigger PyPI upload on version tags

jobs:
    build:
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                os: [ubuntu-latest, macos-latest, windows-latest]

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Set up Python
              uses: actions/setup-python@v4
              with:
                  python-version: 3.11 # cibuildwheel will handle all versions

            - name: Install cibuildwheel
              run: pip install cibuildwheel==2.18 scikit-build-core setuptools wheel twine

            - name: Build wheels
              uses: pypa/cibuildwheel@v2.18
              with:
                  package-dir: .
                  output-dir: wheelhouse
              env:
                  CIBW_BUILD: "cp38-* cp39-* cp310-* cp311-* cp312-*"
                  # CIBW_CMAKE_OPTIONS: "-DENABLE_TESTING=ON"

            - name: Artifact wheels
              uses: actions/upload-artifact@v4
              with:
                name: wheels
                path: wheelhouse/*.whl

    publish:
        needs: build
        runs-on: ubuntu-latest
        steps:
          - uses: actions/download-artifact@v4
            with:
                name: wheels
                path: wheelhouse

          - name: Publish to PyPI
            uses: pypa/gh-action-pypi-publish@v1.8.8
            with:
                password: ${{ secrets.PYPI_API_TOKEN }}
