name: Build Wheels

on:
    workflow_dispatch:
    push:
        tags:
            - "v*"

jobs:
    build:
        name: Build on ${{ matrix.os }}
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                os: [ubuntu-latest, macos-latest, windows-latest]

        steps:
            - uses: actions/checkout@v4

            - uses: pypa/cibuildwheel@v2.18
              with:
                  package-dir: .
              env:
                  CIBW_BUILD: "cp38-* cp39-* cp310-* cp311-* cp312-*"
                  CIBWtest_command: "pytest -q"
            # - name: Upload to PyPI
            #   if: startsWith(github.ref, 'refs/tags/')
            #   uses: pypa/gh-action-pypi-publish@v1.8.8
            #   with:
            #     password: ${{ secrets.PYPI_API_TOKEN }}
